# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# venv
.venv/
venv/
env/

# env & secrets
.env
*.key
*.pem
secrets/

# DB / logs
*.sqlite3
*.db
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Alembic local
alembic.ini.local
